a{
  color: inherit;
  text-decoration: none;
}
@media (min-width: 768px){
  .navbar {
    height: var(--height-primary);
  }
  .navbar .level-nav-link.nav-link {
    padding: calc(var(--padding-primary) * 2) var(--padding-primary);

  }
}

h1 {
  font-family: var(--font-secoundary) ;
  font-weight: var(--font-light);
}
.navbar {
  height: var(--height-primary);
}


.navbar .level-nav-link.nav-link {
  padding-left: var(--padding-primary);
  padding-right: var(--padding-primary);
}


.navbar .level-nav-link.nav-link:hover {
  padding: calc(var(--padding-primary) * 2);
  background-color:  var(--color-primary);
  color: white;
}
.logo{
  height: 50px;
  width: 50px;
}
.hero {
  background: url(../img/hero.jpg) no-repeat center center/cover;
  height: 515px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: var(--padding-primary) var(--padding-double)

}
.form-group{
  flex: 1 25%;
  position: relative;
  display:flex;
  align-items: center;
  left: var(--size);
}

.form-group .form-control {
  border-radius: 0;
  padding: var(--padding-half);
  padding-left: var(--padding-double);
}
.form-group i{
  color: var(--color-primary);
  font-size: var(--font-size-title);
  position: absolute;
  left: 15px;
}


.btn-primary{
  background-color: var(--color-primary);
  border: none;
  border-radius: 0;
  width: 100%;
  padding: var(--padding-half);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.btn-primary:hover{
  background-color: #c3343d;
}
.need-help{
  background-color: white;
  font-size: .8rem;
  padding: 0 var(--padding-double) var(--padding-half) ;
}


section{
  padding: var(--padding-double) 0;
  position: relative;
}
.section-color{
  background-color: var(--color-primary);
  color: white;
}

.section-title {
font-size: var(--font-size-section-title);
}
.section-subtitle{
  font-size: var(--font-size-title);
}
.btn-white{
  border: 2px solid white;
  color: inherit;
  padding: var(--padding-half) var(--padding-primary);


}
.btn-white:hover{
  color: var(--color-primary);
  background-color: white;
}

.section-down-arrow{
  position:absolute;
  top:0;
  width: 100%;
  height: var(--height-primary);
}

.article{
  text-align: center;
  color: var(--color-primary);
  margin-top:calc(var(--margin-primary) *2 );
  padding: var(--padding-primary);
  transition: all .2s ease-in;

}
.article:hover{
  scale:1.1;
  box-shadow: 0 0 7px 0 var(--color-text);
}
.article .article-icon {
  font-size:  4rem;
  margin-bottom: var(--size-primary)
}
.btn-fit{
  width: max-content;
}


/* slider */
.section-gray{
  background-color: var(--color-light) ;
}

.level-slider{


}
.level-slider img{
  width: 100%;
}
.level-slider-item-container {
  padding: var(--padding-primary);
}
.level-slider-item h3{
  font-size: var(--font-size-title);
  color: var(--color-primary);
}
.level-slider-item p {
  font-size: var(--font-size-text);
  color: var(--color-text;)
}
.level-slider-item{
  margin-right: 12px;
  background-color: white;
}
.star-places{
  background-color: white;

}
.star-places-header{
  background-color: var(--color-primary);
  color: white;
  padding: var(--padding-half);

}
.star-places-header h3{
  font-size: var(--font-size-title);
  font-weight: var(--font-light);
}
.star-places-header p{
  font-size: var(--font-size-text);
  margin: 0;
}
.star-places-body{
  padding: var(--padding-primary);
}
.star-places-body a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-primary);
  background-color: var(--color-light);
  margin-bottom: var(--size-half);
  color: var(--colo-secondary);
  transition: all .2s ease-in;
}

.star-places-body a:hover {
  background-color: #d1caca;
}
.img-small{
  height: 80px;
  width:80px;
}
.star-places-body h4{
  font-size: var(--font-size-section-title);
  text-transform: uppercase;
}
.level-video{
  overflow: hidden;
  width: 100%;
  height: 515px;
  position: relative;

}
.vidoe
